
@media (max-width: 768px) {
    .table thead {
        display: none; 
    }

    .table tbody, .table tr, .table td {
        display: block;
        width: 100%;
    }


    .table td {
        padding: 0.5rem;
        font-size: 0.9rem;
        border: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #ddd;
    }

 
    .table td::before {
        content: attr(data-label); 
        font-weight: bold;
        width: 50%;
        display: inline-block;
    }
}

.boton-personalizado.btn-gradiente {
    background: linear-gradient(135deg, #06bb4b, #11998e); 
    border: none;
    color: white;
    transition: background 0.3s ease;
}

.boton-personalizado.btn-gradiente:hover {
    background: linear-gradient(135deg, #04a843, #0d867a); 
}


.boton-personalizado.btn-danger {
    background: linear-gradient(135deg, #ff4b4b, #ff0000); 
    border: none;
    color: white;
    transition: background 0.3s ease;
}

.boton-personalizado.btn-danger:hover {
    background: linear-gradient(135deg, #e63939, #cc0000); 
}
